@import "tailwindcss";

@layer components {
    .btn {
        @apply cursor-pointer rounded-md p-[.5lh_2ch] font-medium transition-colors;
    }

    .btn-primary {
        @apply bg-cyan-200 text-gray-900 hover:bg-teal-300 focus-visible:bg-teal-300 focus-visible:outline-none;
    }

    .btn-secondary {
        @apply bg-teal-800 text-cyan-100 hover:bg-teal-600 focus-visible:bg-teal-600 focus-visible:outline-none;
    }

    .btn-accent {
        @apply bg-cyan-400 text-gray-900 hover:bg-cyan-500 focus-visible:bg-cyan-500 focus-visible:outline-none;
    }

    .btn-outline {
        @apply border border-gray-400 text-gray-900 hover:bg-gray-200 focus-visible:bg-gray-200 focus-visible:outline-none;
    }

    .form-input {
        @apply rounded-sm border border-gray-200 bg-gray-100 p-[.5lh_2ch] text-gray-800 focus-visible:outline-cyan-200;
    }

    .card {
        @apply overflow-clip rounded-lg p-8;
    }
}

@layer utilities {
    /* Background colours */
    .bg-base-400 {
        @apply bg-gray-100;
    }

    .bg-base-500 {
        @apply bg-gray-200;
    }

    .bg-accent {
        @apply bg-cyan-400;
    }

    .bg-primary {
        @apply bg-cyan-200;
    }

    .bg-secondary {
        @apply bg-teal-800;
    }

    /* Text colours */
    .text-base-500 {
        @apply text-black;
    }

    .text-base-400 {
        @apply text-gray-800;
    }

    .text-base-300 {
        @apply text-gray-700;
    }

    .text-primary {
        @apply text-gray-900;
    }

    .text-secondary {
        @apply text-cyan-100;
    }
}
